* {
   margin: 0;
   padding: 0;
   background-color: #fff;
}

body {

}

#workArea {
   height: 100vh;
   background:rgb(41, 41, 41);
}

#leftClickMenu{
   display: none;
   border: 1px solid #fff;
   border-radius: 4px;
}

#leftClickMenu ul{
   list-style: none;
   padding: 5px;
   margin: 0;
}

#leftClickMenu li {
   padding: 1px;
   background-color: #fff;
   color: #2d4055;
}

#leftClickMenu li:hover {
   background-color: #2d4055;
   color: #cbdbe8;
   border-radius: 4px;
}